[submodule "arena_tools"]
	path = arena_tools
	url = https://github.com/voshch/arena-tools.git
[submodule "arena_isaac"]
	path = arena_isaac
	url = https://github.com/Arena-Rosnav/arena-isaac
[submodule "arena_evaluation"]
	path = arena_evaluation
	url = https://github.com/voshch/arena-evaluation.git
[submodule "arena_training"]
	path = arena_training
	url = https://github.com/Arena-Rosnav/Arena-Training.git
	branch = main
[submodule "arena_robots/deps/jackal"]
	path = arena_robots/deps/jackal
	url = https://github.com/jackal/jackal.git
	robot = jackal
	update = none
[submodule "arena_robots/deps/turtlebot4"]
	path = arena_robots/deps/turtlebot4
	url = https://github.com/turtlebot/turtlebot4.git
	robot = turtlebot
	update = none
[submodule "arena_robots/arena_robots/robots/boxer/meshes"]
	path = arena_robots/arena_robots/robots/boxer/meshes
	url = https://github.com/arena-robots/boxer.git
	update = none
	robot = boxer
[submodule "arena_robots/arena_robots/robots/dingo/meshes"]
	path = arena_robots/arena_robots/robots/dingo/meshes
	url = https://github.com/arena-robots/dingo.git
	update = none
	robot = dingo
[submodule "arena_robots/arena_robots/robots/husky/meshes"]
	path = arena_robots/arena_robots/robots/husky/meshes
	url = https://github.com/arena-robots/husky.git
	update = none
	robot = husky
[submodule "arena_robots/arena_robots/robots/rbkairos/meshes"]
	path = arena_robots/arena_robots/robots/rbkairos/meshes
	url = https://github.com/arena-robots/rbkairos.git
	update = none
	robot = rbkairos
[submodule "arena_robots/arena_robots/robots/rbrobout/meshes"]
	path = arena_robots/arena_robots/robots/rbrobout/meshes
	url = https://github.com/arena-robots/rbrobout.git
	update = none
	robot = rbrobout
[submodule "arena_robots/arena_robots/robots/rbsummit/meshes"]
	path = arena_robots/arena_robots/robots/rbsummit/meshes
	url = https://github.com/arena-robots/rbsummit.git
	update = none
	robot = rbsummit
[submodule "arena_robots/arena_robots/robots/rbtheron/meshes"]
	path = arena_robots/arena_robots/robots/rbtheron/meshes
	url = https://github.com/arena-robots/rbtheron.git
	update = none
	robot = rbtheron
[submodule "arena_robots/arena_robots/robots/rbvogui/meshes"]
	path = arena_robots/arena_robots/robots/rbvogui/meshes
	url = https://github.com/arena-robots/rbvogui.git
	update = none
	robot = rbvogui
[submodule "arena_robots/arena_robots/robots/ridgeback/meshes"]
	path = arena_robots/arena_robots/robots/ridgeback/meshes
	url = https://github.com/arena-robots/ridgeback.git
	update = none
	robot = ridgeback
[submodule "arena_robots/arena_robots/robots/rskomnidirectional/meshes"]
	path = arena_robots/arena_robots/robots/rskomnidirectional/meshes
	url = https://github.com/arena-robots/rskomnidirectional.git
	update = none
	robot = rskomnidirectional
[submodule "arena_robots/arena_robots/robots/WLP311D/meshes"]
	path = arena_robots/arena_robots/robots/WLP311D/meshes
	url = https://github.com/arena-robots/WLP311D.git
	update = none
	robot = WLP311D
[submodule "arena_robots/arena_robots/robots/WLP311E/meshes"]
	path = arena_robots/arena_robots/robots/WLP311E/meshes
	url = https://github.com/arena-robots/WLP311E.git
	update = none
	robot = WLP311E
