#!/bin/bash -i

export ARENA_WS_DIR="/opt/arena_ws"
export ARENA_VENV_DIR="/opt/venv"
export ARENA_FEATURES_DIR="$ARENA_WS_DIR/src/Arena/_meta/docker/features"

source src/Arena/_meta/tools/source
