#!/usr/bin/env bash

export ARENA_WS_DIR="/opt/arena_ws"
export ARENA_VENV_DIR="/opt/venv"
export ARENA_FEATURES_DIR="$ARENA_WS_DIR/src/Arena/_meta/docker/features"

docker_env=""
docker_env="${docker_env} ARENA_PROJECT_NAME=$ARENA_PROJECT_NAME"
docker_env="${docker_env} ARENA_IMAGE=$ARENA_IMAGE"
docker_env="${docker_env} ARENA_WS_DIR=$ARENA_WS_DIR"
docker_env="${docker_env} ARENA_ROS_DISTRO=$ARENA_ROS_DISTRO"
docker_env="${docker_env} HOST_UID=$HOST_UID"
docker_env="${docker_env} HOST_GID=$HOST_GID"
docker_env="${docker_env} HOST_ARENA_WS_DIR=$HOST_ARENA_WS_DIR"


export docker_env

HOST_UID=$(id -u)
export HOST_UID
HOST_GID=$(id -g)
export HOST_GID

arena_docker_compose(){
    sudo env ${docker_env} \
        docker compose \
        -f "$ARENA_DIR/_meta/docker/docker-compose.yaml" \
        --project-directory "$ARENA_WS_DIR" \
        --project-name "$ARENA_PROJECT_NAME" \
        "$@"
}
export -f arena_docker_compose 2>/dev/null || true

source src/Arena/_meta/tools/source
