<?xml version="1.0"?>
<robot name="kairos_plus" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find arena_robots)/robots/rbkairos/urdf/base_hw/rbkairos.ros2_control.urdf"/>

  <xacro:macro name="rbkairos_plus_arm_hw_controller">

    <xacro:if value="$(arg gazebo_classic)">
      <ros2_control name="kairos_plus_arm" type="system">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="robot_arm_shoulder_pan_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_shoulder_lift_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_elbow_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_wrist_1_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_wrist_2_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_wrist_3_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
      </ros2_control>
    </xacro:if>

    <xacro:if value="$(arg gazebo_ignition)">
      <ros2_control name="kairos_plus_arm" type="system">
        <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="robot_arm_shoulder_pan_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_shoulder_lift_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_elbow_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_wrist_1_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_wrist_2_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="robot_arm_wrist_3_joint">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
      </ros2_control>
    </xacro:if>

    <xacro:unless value="$(arg gazebo_classic)">
      <xacro:unless value="$(arg gazebo_ignition)">
        <ros2_control name="kairos_plus_arm" type="system">
          <hardware>
            <plugin>mock_components/GenericSystem</plugin>
          </hardware>
          <joint name="robot_arm_shoulder_pan_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
          </joint>
          <joint name="robot_arm_shoulder_lift_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
          </joint>
          <joint name="robot_arm_elbow_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
          </joint>
          <joint name="robot_arm_wrist_1_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
          </joint>
          <joint name="robot_arm_wrist_2_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
          </joint>
          <joint name="robot_arm_wrist_3_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
          </joint>
        </ros2_control>
      </xacro:unless>
    </xacro:unless>

  </xacro:macro>

</robot>
